
/* style.css da primeira tela */
body {
            margin: 0;
            font-family: Arial;
            background: #f6f6f6;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .left {
            width: 40%;
            background: linear-gradient(135deg, #5a0ea1, #8e2de2);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .left h1 {
            font-size: 34px;
            margin-bottom: 10px;
        }

        .left p {
            max-width: 300px;
            text-align: center;
        }

        .right {
            width: 60%;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-box {
            width: 350px;
        }

        .form-box h2 {
            text-align: center;
            color: #5a0ea1;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 6px;
            outline: none;
        }

        button {
            width: 100%;
            padding: 12px;
            background: #7a1fd6;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background: #5a0ea1;
        }
